In [40]:
import pandas as pd
import json
from pandas import json_normalize

with open('users.json', 'r') as file:
    json_data = file.readlines()

parsed_data = [json.loads(line) for line in json_data]

df = json_normalize(parsed_data)

df.head()

,active,role,signUpSource,state,_id.$oid,createdDate.$date,lastLogin.$date
0,True,consumer,Email,WI,5ff1e194b6a9d73a3a9f1052,1609687444800,1.609688e+12
1,True,consumer,Email,WI,5ff1e194b6a9d73a3a9f1052,1609687444800,1.609688e+12
2,True,consumer,Email,WI,5ff1e194b6a9d73a3a9f1052,1609687444800,1.609688e+12
3,True,consumer,Email,WI,5ff1e1eacfcf6c399c274ae6,1609687530554,1.609688e+12
4,True,consumer,Email,WI,5ff1e194b6a9d73a3a9f1052,1609687444800,1.609688e+12

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 495 entries, 0 to 494
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   active             495 non-null    bool
 1   role               495 non-null    object
 2   signUpSource       447 non-null    object
 3   state              439 non-null    object
 4   _id.$oid           495 non-null    object
 5   createdDate.$date  495 non-null    int64
 6   lastLogin.$date    433 non-null    float64
dtypes: bool(1), float64(1), int64(1), object(4)
memory usage: 23.8+ KB

### Get Null percentage counts

In [41]:
import pandas as pd

null_counts = df.isnull().sum()
total_rows = len(df)
null_percentages = round((null_counts / total_rows) * 100,2)

print("Null Counts:")
print(null_counts)
print("\nNull Percentages:")
print(null_percentages)

Null Counts:
active                0
role                  0
signUpSource         48
state                56
_id.$oid              0
createdDate.$date     0
lastLogin.$date      62
dtype: int64

Null Percentages:
active                0.00
role                  0.00
signUpSource          9.70
state                11.31
_id.$oid              0.00
createdDate.$date     0.00
lastLogin.$date      12.53
dtype: float64

### Duplication in User Id's

In [42]:
unique_count = df['_id.$oid'].nunique()

print("Count of Unique Values based on _id.$oid:")
print(unique_count)

Count of Unique Values based on _id.$oid:
212

In [20]:
df.tail(10)

,active,role,signUpSource,state,_id.$oid,createdDate.$date,lastLogin.$date
485,True,fetch-staff,NaN,NaN,54943462e4b07e684157a532,1418998882381,1.614963e+12
486,True,fetch-staff,NaN,NaN,54943462e4b07e684157a532,1418998882381,1.614963e+12
487,True,fetch-staff,NaN,NaN,54943462e4b07e684157a532,1418998882381,1.614963e+12
488,True,fetch-staff,NaN,NaN,54943462e4b07e684157a532,1418998882381,1.614963e+12
489,True,fetch-staff,NaN,NaN,54943462e4b07e684157a532,1418998882381,1.614963e+12
490,True,fetch-staff,NaN,NaN,54943462e4b07e684157a532,1418998882381,1.614963e+12
491,True,fetch-staff,NaN,NaN,54943462e4b07e684157a532,1418998882381,1.614963e+12
492,True,fetch-staff,NaN,NaN,54943462e4b07e684157a532,1418998882381,1.614963e+12
493,True,fetch-staff,NaN,NaN,54943462e4b07e684157a532,1418998882381,1.614963e+12
494,True,fetch-staff,NaN,NaN,54943462e4b07e684157a532,1418998882381,1.614963e+12

### Handling NaN and blank string values

In [43]:
import numpy as np
df = df.replace({np.NaN: None})

for col in df.columns:
    df[col] = df[col].replace('', np.nan)

In [44]:
df.tail(10)

,active,role,signUpSource,state,_id.$oid,createdDate.$date,lastLogin.$date
485,True,fetch-staff,None,None,54943462e4b07e684157a532,1418998882381,1614963143204.0
486,True,fetch-staff,None,None,54943462e4b07e684157a532,1418998882381,1614963143204.0
487,True,fetch-staff,None,None,54943462e4b07e684157a532,1418998882381,1614963143204.0
488,True,fetch-staff,None,None,54943462e4b07e684157a532,1418998882381,1614963143204.0
489,True,fetch-staff,None,None,54943462e4b07e684157a532,1418998882381,1614963143204.0
490,True,fetch-staff,None,None,54943462e4b07e684157a532,1418998882381,1614963143204.0
491,True,fetch-staff,None,None,54943462e4b07e684157a532,1418998882381,1614963143204.0
492,True,fetch-staff,None,None,54943462e4b07e684157a532,1418998882381,1614963143204.0
493,True,fetch-staff,None,None,54943462e4b07e684157a532,1418998882381,1614963143204.0
494,True,fetch-staff,None,None,54943462e4b07e684157a532,1418998882381,1614963143204.0

### Removing Duplicates based on Primary Key

In [45]:
df_no_duplicates = df.drop_duplicates(subset=['_id.$oid'])

In [46]:
df_no_duplicates.info()

<class 'pandas.core.frame.DataFrame'>
Index: 212 entries, 0 to 475
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   active             212 non-null    bool
 1   role               212 non-null    object
 2   signUpSource       207 non-null    object
 3   state              206 non-null    object
 4   _id.$oid           212 non-null    object
 5   createdDate.$date  212 non-null    int64
 6   lastLogin.$date    172 non-null    object
dtypes: bool(1), int64(1), object(5)
memory usage: 11.8+ KB

### Column Renaming

In [47]:
column_mapping = {
    'active': 'active',
    'role': 'role',
    'signUpSource': 'signUpSource',
    'state': 'state',
    '_id.$oid': 'user_id',
    'createdDate.$date': 'createdDate',
    'lastLogin.$date': 'lastLogin'
}

df_mapped = df_no_duplicates.rename(columns=column_mapping)

columns_sequence = ['user_id', 'active', 'role', 'signUpSource', 'state', 'createdDate', 'lastLogin']
df_mapped_reordered = df_mapped[columns_sequence]

df_mapped_reordered.tail(10)

,user_id,active,role,signUpSource,state,createdDate,lastLogin
420,5fb0a078be5fc9775c1f3945,True,consumer,Google,AL,1605410936818,None
421,60268c7aefa6011bb1510786,True,consumer,Email,WI,1613139066240,1613139066294.0
422,5a43c08fe4b014fd6b6a0612,True,consumer,None,None,1514389647059,1613146957155.0
427,60268c69efa6011bb151075f,True,consumer,Email,WI,1613139049408,1613139127107.0
432,5fbc35711d967d1222cbfefc,True,fetch-staff,Email,None,1606169969509,1614313551057.0
435,5fc961c3b8cfca11a077dd33,True,fetch-staff,Email,NH,1607033283936,1614379156799.0
455,5fa41775898c7a11a6bcef3e,True,fetch-staff,Email,None,1604589429396,1614873722026.0
456,5fa32b4d898c7a11a6bcebce,True,fetch-staff,Google,AL,1604528973309,1614842518047.0
462,5964eb07e4b03efd0c0f267b,True,fetch-staff,None,IL,1499785991771,1614884869770.0
475,54943462e4b07e684157a532,True,fetch-staff,None,None,1418998882381,1614963143204.0

### Convert Epoch to timestamp

In [48]:
from datetime import datetime

def epoch_to_datetime(epoch_time):
    if pd.isnull(epoch_time):
        return None
    else:
        return datetime.fromtimestamp(epoch_time / 1000)

df_mapped_reordered['createdDate'] = df_mapped_reordered['createdDate'].apply(epoch_to_datetime)
df_mapped_reordered['lastLogin'] = df_mapped_reordered['lastLogin'].apply(epoch_to_datetime)

df_mapped_reordered.tail(10)

,user_id,active,role,signUpSource,state,createdDate,lastLogin
420,5fb0a078be5fc9775c1f3945,True,consumer,Google,AL,2020-11-14 22:28:56.818,NaT
421,60268c7aefa6011bb1510786,True,consumer,Email,WI,2021-02-12 09:11:06.240,2021-02-12 09:11:06.294
422,5a43c08fe4b014fd6b6a0612,True,consumer,None,None,2017-12-27 10:47:27.059,2021-02-12 11:22:37.155
427,60268c69efa6011bb151075f,True,consumer,Email,WI,2021-02-12 09:10:49.408,2021-02-12 09:12:07.107
432,5fbc35711d967d1222cbfefc,True,fetch-staff,Email,None,2020-11-23 17:19:29.509,2021-02-25 23:25:51.057
435,5fc961c3b8cfca11a077dd33,True,fetch-staff,Email,NH,2020-12-03 17:08:03.936,2021-02-26 17:39:16.799
455,5fa41775898c7a11a6bcef3e,True,fetch-staff,Email,None,2020-11-05 10:17:09.396,2021-03-04 11:02:02.026
456,5fa32b4d898c7a11a6bcebce,True,fetch-staff,Google,AL,2020-11-04 17:29:33.309,2021-03-04 02:21:58.047
462,5964eb07e4b03efd0c0f267b,True,fetch-staff,None,IL,2017-07-11 11:13:11.771,2021-03-04 14:07:49.770
475,54943462e4b07e684157a532,True,fetch-staff,None,None,2014-12-19 09:21:22.381,2021-03-05 11:52:23.204

In [49]:
df_mapped_reordered.info()

<class 'pandas.core.frame.DataFrame'>
Index: 212 entries, 0 to 475
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   user_id       212 non-null    object
 1   active        212 non-null    bool
 2   role          212 non-null    object
 3   signUpSource  207 non-null    object
 4   state         206 non-null    object
 5   createdDate   212 non-null    datetime64[ns]
 6   lastLogin     172 non-null    datetime64[ns]
dtypes: bool(1), datetime64[ns](2), object(4)
memory usage: 11.8+ KB

### Inserting into database

In [34]:
import psycopg2
from sqlalchemy import create_engine, Boolean, VARCHAR, TIMESTAMP

db_config = {
    'user': 'postgres',
    'password': '9901',
    'host': 'localhost',
    'port': '5433',
    'database': 'postgres'
}

conn = psycopg2.connect(**db_config)

cursor = conn.cursor()

engine = create_engine('postgresql+psycopg2://{user}:{password}@{host}:{port}/{database}'.format(**db_config))

dtype_mapping = {
    'active': Boolean,
    'role': VARCHAR(350),
    'signUpSource': VARCHAR(700),
    'state': VARCHAR(50),
    'user_id': VARCHAR(700),
    'createdDate': TIMESTAMP,
    'lastLogin': TIMESTAMP
}

df_mapped_reordered.to_sql('users', engine, if_exists='append', index=False, dtype=dtype_mapping)

conn.commit()
conn.close()