In [1]:
import pandas as pd
import json
from pandas import json_normalize

with open('receipts.json', 'r') as file:
    json_data = file.readlines()

parsed_data = [json.loads(line) for line in json_data]

df = json_normalize(parsed_data)

df.head()

,bonusPointsEarned,bonusPointsEarnedReason,pointsEarned,purchasedItemCount,rewardsReceiptItemList,rewardsReceiptStatus,totalSpent,userId,_id.$oid,createDate.$date,dateScanned.$date,finishedDate.$date,modifyDate.$date,pointsAwardedDate.$date,purchaseDate.$date
0,500.0,"Receipt number 2 completed, bonus point schedu...",500.0,5.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,26.00,5ff1e1eacfcf6c399c274ae6,5ff1e1eb0a720f0523000575,1609687531000,1609687531000,1.609688e+12,1609687536000,1.609688e+12,1.609632e+12
1,150.0,"Receipt number 5 completed, bonus point schedu...",150.0,2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,11.00,5ff1e194b6a9d73a3a9f1052,5ff1e1bb0a720f052300056b,1609687483000,1609687483000,1.609687e+12,1609687488000,1.609687e+12,1.609601e+12
2,5.0,All-receipts receipt bonus,5,1.0,"[{'needsFetchReview': False, 'partnerItemId': ...",REJECTED,10.00,5ff1e1f1cfcf6c399c274b0b,5ff1e1f10a720f052300057a,1609687537000,1609687537000,NaN,1609687542000,NaN,1.609632e+12
3,5.0,All-receipts receipt bonus,5.0,4.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,28.00,5ff1e1eacfcf6c399c274ae6,5ff1e1ee0a7214ada100056f,1609687534000,1609687534000,1.609688e+12,1609687539000,1.609688e+12,1.609632e+12
4,5.0,All-receipts receipt bonus,5.0,2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,1.00,5ff1e194b6a9d73a3a9f1052,5ff1e1d20a7214ada1000561,1609687506000,1609687506000,1.609688e+12,1609687511000,1.609688e+12,1.609601e+12

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1119 entries, 0 to 1118
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   bonusPointsEarned        544 non-null    float64
 1   bonusPointsEarnedReason  544 non-null    object
 2   pointsEarned             609 non-null    object
 3   purchasedItemCount       635 non-null    float64
 4   rewardsReceiptItemList   679 non-null    object
 5   rewardsReceiptStatus     1119 non-null   object
 6   totalSpent               684 non-null    object
 7   userId                   1119 non-null   object
 8   _id.$oid                 1119 non-null   object
 9   createDate.$date         1119 non-null   int64
 10  dateScanned.$date        1119 non-null   int64
 11  finishedDate.$date       568 non-null    float64
 12  modifyDate.$date         1119 non-null   int64
 13  pointsAwardedDate.$date  537 non-null    float64
 14  purchaseDate.$date       671 non-null    float64
dtypes: float64(5), int64(3), object(7)
memory usage: 131.3+ KB

In [34]:
df[df['_id.$oid'] == '600f2fc80a720f0535000030']

,bonusPointsEarned,bonusPointsEarnedReason,pointsEarned,purchasedItemCount,rewardsReceiptItemList,rewardsReceiptStatus,totalSpent,userId,_id.$oid,createDate.$date,dateScanned.$date,finishedDate.$date,modifyDate.$date,pointsAwardedDate.$date,purchaseDate.$date
543,750.0,"Receipt number 1 completed, bonus point schedu...",4944.7,689.0,"[{'brandCode': 'BETTY CROCKER', 'description':...",FINISHED,4566.17,600f29a64329897eac239049,600f2fc80a720f0535000030,1611608008000,1611608008000,1611612263000.0,1611873422000,1611612263000.0,1611446400000.0

### NULLS Count

In [3]:
import pandas as pd

null_counts = df.isnull().sum()
total_rows = len(df)
null_percentages = round((null_counts / total_rows) * 100,2)

print("Null Counts:")
print(null_counts)
print("\nNull Percentages:")
print(null_percentages)

Null Counts:
bonusPointsEarned          575
bonusPointsEarnedReason    575
pointsEarned               510
purchasedItemCount         484
rewardsReceiptItemList     440
rewardsReceiptStatus         0
totalSpent                 435
userId                       0
_id.$oid                     0
createDate.$date             0
dateScanned.$date            0
finishedDate.$date         551
modifyDate.$date             0
pointsAwardedDate.$date    582
purchaseDate.$date         448
dtype: int64

Null Percentages:
bonusPointsEarned          51.39
bonusPointsEarnedReason    51.39
pointsEarned               45.58
purchasedItemCount         43.25
rewardsReceiptItemList     39.32
rewardsReceiptStatus        0.00
totalSpent                 38.87
userId                      0.00
_id.$oid                    0.00
createDate.$date            0.00
dateScanned.$date           0.00
finishedDate.$date         49.24
modifyDate.$date            0.00
pointsAwardedDate.$date    52.01
purchaseDate.$date         40.04
dtype: float64

In [4]:
unique_count = df['_id.$oid'].nunique()

print("Count of Unique Values based on _id.$oid:")
print(unique_count)

Count of Unique Values based on _id.$oid:
1119

### Handling Blank strings

In [5]:
import numpy as np
df = df.replace({np.NaN: None})

In [6]:
df.tail(10)

,bonusPointsEarned,bonusPointsEarnedReason,pointsEarned,purchasedItemCount,rewardsReceiptItemList,rewardsReceiptStatus,totalSpent,userId,_id.$oid,createDate.$date,dateScanned.$date,finishedDate.$date,modifyDate.$date,pointsAwardedDate.$date,purchaseDate.$date
1109,None,None,None,None,None,SUBMITTED,None,5fc961c3b8cfca11a077dd33,603c4a0e0a720fde10000380,1614563854494,1614563854494,None,1614563854494,None,None
1110,None,None,None,None,None,SUBMITTED,None,5fc961c3b8cfca11a077dd33,603c6adf0a720fde1000039a,1614572255736,1614572255736,None,1614572255736,None,None
1111,None,None,None,None,None,SUBMITTED,None,5fc961c3b8cfca11a077dd33,603c9e6e0a720fde100003c7,1614585454307,1614585454307,None,1614585454307,None,None
1112,25.0,COMPLETE_NONPARTNER_RECEIPT,25.0,2.0,"[{'barcode': 'B076FJ92M4', 'description': 'mue...",REJECTED,34.96,5fc961c3b8cfca11a077dd33,603c3d240a720fde10000373,1614560548000,1614560548000,None,1614560549000,None,1597622400000.0
1113,25.0,COMPLETE_NONPARTNER_RECEIPT,25.0,2.0,"[{'barcode': 'B076FJ92M4', 'description': 'mue...",REJECTED,34.96,5fc961c3b8cfca11a077dd33,603cc2bc0a720fde100003e9,1614594748000,1614594748000,None,1614594749000,None,1597622400000.0
1114,25.0,COMPLETE_NONPARTNER_RECEIPT,25.0,2.0,"[{'barcode': 'B076FJ92M4', 'description': 'mue...",REJECTED,34.96,5fc961c3b8cfca11a077dd33,603cc0630a720fde100003e6,1614594147000,1614594147000,None,1614594148000,None,1597622400000.0
1115,None,None,None,None,None,SUBMITTED,None,5fc961c3b8cfca11a077dd33,603d0b710a720fde1000042a,1614613361873,1614613361873,None,1614613361873,None,None
1116,None,None,None,None,None,SUBMITTED,None,5fc961c3b8cfca11a077dd33,603cf5290a720fde10000413,1614607657664,1614607657664,None,1614607657664,None,None
1117,25.0,COMPLETE_NONPARTNER_RECEIPT,25.0,2.0,"[{'barcode': 'B076FJ92M4', 'description': 'mue...",REJECTED,34.96,5fc961c3b8cfca11a077dd33,603ce7100a7217c72c000405,1614604048000,1614604048000,None,1614604049000,None,1597622400000.0
1118,None,None,None,None,None,SUBMITTED,None,5fc961c3b8cfca11a077dd33,603c4fea0a7217c72c000389,1614565354962,1614565354962,None,1614565354962,None,None

### Break the input JSON to two dataframes and append receipt_id to each

In [26]:
import pandas as pd
import json

with open('receipts.json', 'r') as file:
    json_data = file.readlines()

parsed_data = [json.loads(line) for line in json_data]

receipts_fact_df = pd.json_normalize(parsed_data)

items_list = []
for entry in parsed_data:
    receipt_id = entry['_id']['$oid']
    if 'rewardsReceiptItemList' in entry:
        items = entry['rewardsReceiptItemList']
        for item in items:
            item['receipt_id'] = receipt_id  # Add receiptId to each item
            items_list.append(item)

rewards_receipt_items_df = pd.DataFrame(items_list)

receipts_fact_df.drop(columns=['rewardsReceiptItemList'], inplace=True)

In [27]:
# receipts_df.head(10)
# print("\nItems DataFrame:")
pd.set_option('display.max_columns', None)
receipts_fact_df.head(10)

,bonusPointsEarned,bonusPointsEarnedReason,pointsEarned,purchasedItemCount,rewardsReceiptStatus,totalSpent,userId,_id.$oid,createDate.$date,dateScanned.$date,finishedDate.$date,modifyDate.$date,pointsAwardedDate.$date,purchaseDate.$date
0,500.0,"Receipt number 2 completed, bonus point schedu...",500.0,5.0,FINISHED,26.00,5ff1e1eacfcf6c399c274ae6,5ff1e1eb0a720f0523000575,1609687531000,1609687531000,1.609688e+12,1609687536000,1.609688e+12,1.609632e+12
1,150.0,"Receipt number 5 completed, bonus point schedu...",150.0,2.0,FINISHED,11.00,5ff1e194b6a9d73a3a9f1052,5ff1e1bb0a720f052300056b,1609687483000,1609687483000,1.609687e+12,1609687488000,1.609687e+12,1.609601e+12
2,5.0,All-receipts receipt bonus,5,1.0,REJECTED,10.00,5ff1e1f1cfcf6c399c274b0b,5ff1e1f10a720f052300057a,1609687537000,1609687537000,NaN,1609687542000,NaN,1.609632e+12
3,5.0,All-receipts receipt bonus,5.0,4.0,FINISHED,28.00,5ff1e1eacfcf6c399c274ae6,5ff1e1ee0a7214ada100056f,1609687534000,1609687534000,1.609688e+12,1609687539000,1.609688e+12,1.609632e+12
4,5.0,All-receipts receipt bonus,5.0,2.0,FINISHED,1.00,5ff1e194b6a9d73a3a9f1052,5ff1e1d20a7214ada1000561,1609687506000,1609687506000,1.609688e+12,1609687511000,1.609688e+12,1.609601e+12
5,750.0,"Receipt number 1 completed, bonus point schedu...",750.0,1.0,FINISHED,3.25,5ff1e1e4cfcf6c399c274ac3,5ff1e1e40a7214ada1000566,1609687524000,1609687524000,1.609688e+12,1609687530000,1.609688e+12,1.609601e+12
6,5.0,All-receipts receipt bonus,5.0,1.0,FINISHED,2.23,5ff1e194b6a9d73a3a9f1052,5ff1e1cd0a720f052300056f,1609687501000,1609687501000,1.609688e+12,1609687502000,1.609688e+12,1.609688e+12
7,500.0,"Receipt number 2 completed, bonus point schedu...",500.0,1.0,FINISHED,10.00,5ff1e194b6a9d73a3a9f1052,5ff1e1a40a720f0523000569,1609687460000,1609687460000,1.609687e+12,1609687461000,1.609687e+12,1.609027e+12
8,5.0,All-receipts receipt bonus,5.0,5.0,FINISHED,20.00,5ff1e1eacfcf6c399c274ae6,5ff1e1ed0a7214ada100056e,1609687533000,1609687533000,1.609688e+12,1609687538000,1.609688e+12,1.609632e+12
9,250.0,"Receipt number 3 completed, bonus point schedu...",250.0,3.0,FINISHED,20.00,5ff1e1eacfcf6c399c274ae6,5ff1e1eb0a7214ada100056b,1609687531000,1609687531000,1.609688e+12,1609687536000,1.609688e+12,1.609632e+12

### Creation of Integration_ID as primary key based on partneritemID and receiptID

In [28]:
# Create a new column 'integration_id' as a combination of partner item ID and receipt ID
rewards_receipt_items_df['integration_id'] = rewards_receipt_items_df['partnerItemId'].astype(str) + '~' + rewards_receipt_items_df['receipt_id']

rewards_receipt_items_df.head()

,barcode,description,finalPrice,itemPrice,needsFetchReview,partnerItemId,preventTargetGapPoints,quantityPurchased,userFlaggedBarcode,userFlaggedNewItem,userFlaggedPrice,userFlaggedQuantity,receipt_id,needsFetchReviewReason,pointsNotAwardedReason,pointsPayerId,rewardsGroup,rewardsProductPartnerId,userFlaggedDescription,originalMetaBriteBarcode,originalMetaBriteDescription,brandCode,competitorRewardsGroup,discountedItemPrice,originalReceiptItemText,itemNumber,originalMetaBriteQuantityPurchased,pointsEarned,targetPrice,competitiveProduct,originalFinalPrice,originalMetaBriteItemPrice,deleted,priceAfterCoupon,metabriteCampaignId,integration_id
0,4011,ITEM NOT FOUND,26.00,26.00,False,1,True,5.0,4011,True,26.00,5.0,5ff1e1eb0a720f0523000575,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1~5ff1e1eb0a720f0523000575
1,4011,ITEM NOT FOUND,1,1,NaN,1,NaN,1.0,NaN,NaN,NaN,NaN,5ff1e1bb0a720f052300056b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1~5ff1e1bb0a720f052300056b
2,028400642255,DORITOS TORTILLA CHIP SPICY SWEET CHILI REDUCE...,10.00,10.00,True,2,True,1.0,028400642255,True,10.00,1.0,5ff1e1bb0a720f052300056b,USER_FLAGGED,Action not allowed for user and CPG,5332f5fbe4b03c9a25efd0ba,DORITOS SPICY SWEET CHILI SINGLE SERVE,5332f5fbe4b03c9a25efd0ba,DORITOS TORTILLA CHIP SPICY SWEET CHILI REDUCE...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2~5ff1e1bb0a720f052300056b
3,NaN,NaN,NaN,NaN,False,1,True,NaN,4011,True,26.00,3.0,5ff1e1f10a720f052300057a,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1~5ff1e1f10a720f052300057a
4,4011,ITEM NOT FOUND,28.00,28.00,False,1,True,4.0,4011,True,28.00,4.0,5ff1e1ee0a7214ada100056f,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1~5ff1e1ee0a7214ada100056f

In [29]:
duplicate_integration_ids = rewards_receipt_items_df[rewards_receipt_items_df.duplicated(subset=['integration_id'], keep=False)]

print("Duplicate Integration IDs:")
print(duplicate_integration_ids)

Duplicate Integration IDs:
Empty DataFrame
Columns: [barcode, description, finalPrice, itemPrice, needsFetchReview, partnerItemId, preventTargetGapPoints, quantityPurchased, userFlaggedBarcode, userFlaggedNewItem, userFlaggedPrice, userFlaggedQuantity, receipt_id, needsFetchReviewReason, pointsNotAwardedReason, pointsPayerId, rewardsGroup, rewardsProductPartnerId, userFlaggedDescription, originalMetaBriteBarcode, originalMetaBriteDescription, brandCode, competitorRewardsGroup, discountedItemPrice, originalReceiptItemText, itemNumber, originalMetaBriteQuantityPurchased, pointsEarned, targetPrice, competitiveProduct, originalFinalPrice, originalMetaBriteItemPrice, deleted, priceAfterCoupon, metabriteCampaignId, integration_id]
Index: []

In [31]:
null_counts = rewards_receipt_items_df.isnull().sum()
print(null_counts)

barcode                               3851
description                            381
finalPrice                             174
itemPrice                              174
needsFetchReview                      6128
partnerItemId                            0
preventTargetGapPoints                6583
quantityPurchased                      174
userFlaggedBarcode                    6604
userFlaggedNewItem                    6618
userFlaggedPrice                      6642
userFlaggedQuantity                   6642
receipt_id                               0
needsFetchReviewReason                6722
pointsNotAwardedReason                6601
pointsPayerId                         5674
rewardsGroup                          5210
rewardsProductPartnerId               4672
userFlaggedDescription                6736
originalMetaBriteBarcode              6870
originalMetaBriteDescription          6931
brandCode                             4341
competitorRewardsGroup                6666
discountedItemPrice                   1172
originalReceiptItemText               1181
itemNumber                            6788
originalMetaBriteQuantityPurchased    6926
pointsEarned                          6014
targetPrice                           6563
competitiveProduct                    6296
originalFinalPrice                    6932
originalMetaBriteItemPrice            6932
deleted                               6932
priceAfterCoupon                      5985
metabriteCampaignId                   6078
integration_id                           0
dtype: int64

In [33]:
receipts_fact_df.head(10)

,bonusPointsEarned,bonusPointsEarnedReason,pointsEarned,purchasedItemCount,rewardsReceiptStatus,totalSpent,userId,_id.$oid,createDate.$date,dateScanned.$date,finishedDate.$date,modifyDate.$date,pointsAwardedDate.$date,purchaseDate.$date
0,500.0,"Receipt number 2 completed, bonus point schedu...",500.0,5.0,FINISHED,26.00,5ff1e1eacfcf6c399c274ae6,5ff1e1eb0a720f0523000575,1609687531000,1609687531000,1.609688e+12,1609687536000,1.609688e+12,1.609632e+12
1,150.0,"Receipt number 5 completed, bonus point schedu...",150.0,2.0,FINISHED,11.00,5ff1e194b6a9d73a3a9f1052,5ff1e1bb0a720f052300056b,1609687483000,1609687483000,1.609687e+12,1609687488000,1.609687e+12,1.609601e+12
2,5.0,All-receipts receipt bonus,5,1.0,REJECTED,10.00,5ff1e1f1cfcf6c399c274b0b,5ff1e1f10a720f052300057a,1609687537000,1609687537000,NaN,1609687542000,NaN,1.609632e+12
3,5.0,All-receipts receipt bonus,5.0,4.0,FINISHED,28.00,5ff1e1eacfcf6c399c274ae6,5ff1e1ee0a7214ada100056f,1609687534000,1609687534000,1.609688e+12,1609687539000,1.609688e+12,1.609632e+12
4,5.0,All-receipts receipt bonus,5.0,2.0,FINISHED,1.00,5ff1e194b6a9d73a3a9f1052,5ff1e1d20a7214ada1000561,1609687506000,1609687506000,1.609688e+12,1609687511000,1.609688e+12,1.609601e+12
5,750.0,"Receipt number 1 completed, bonus point schedu...",750.0,1.0,FINISHED,3.25,5ff1e1e4cfcf6c399c274ac3,5ff1e1e40a7214ada1000566,1609687524000,1609687524000,1.609688e+12,1609687530000,1.609688e+12,1.609601e+12
6,5.0,All-receipts receipt bonus,5.0,1.0,FINISHED,2.23,5ff1e194b6a9d73a3a9f1052,5ff1e1cd0a720f052300056f,1609687501000,1609687501000,1.609688e+12,1609687502000,1.609688e+12,1.609688e+12
7,500.0,"Receipt number 2 completed, bonus point schedu...",500.0,1.0,FINISHED,10.00,5ff1e194b6a9d73a3a9f1052,5ff1e1a40a720f0523000569,1609687460000,1609687460000,1.609687e+12,1609687461000,1.609687e+12,1.609027e+12
8,5.0,All-receipts receipt bonus,5.0,5.0,FINISHED,20.00,5ff1e1eacfcf6c399c274ae6,5ff1e1ed0a7214ada100056e,1609687533000,1609687533000,1.609688e+12,1609687538000,1.609688e+12,1.609632e+12
9,250.0,"Receipt number 3 completed, bonus point schedu...",250.0,3.0,FINISHED,20.00,5ff1e1eacfcf6c399c274ae6,5ff1e1eb0a7214ada100056b,1609687531000,1609687531000,1.609688e+12,1609687536000,1.609688e+12,1.609632e+12

In [32]:
receipts_fact_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1119 entries, 0 to 1118
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   bonusPointsEarned        544 non-null    float64
 1   bonusPointsEarnedReason  544 non-null    object
 2   pointsEarned             609 non-null    object
 3   purchasedItemCount       635 non-null    float64
 4   rewardsReceiptStatus     1119 non-null   object
 5   totalSpent               684 non-null    object
 6   userId                   1119 non-null   object
 7   _id.$oid                 1119 non-null   object
 8   createDate.$date         1119 non-null   int64
 9   dateScanned.$date        1119 non-null   int64
 10  finishedDate.$date       568 non-null    float64
 11  modifyDate.$date         1119 non-null   int64
 12  pointsAwardedDate.$date  537 non-null    float64
 13  purchaseDate.$date       671 non-null    float64
dtypes: float64(5), int64(3), object(6)
memory usage: 122.5+ KB

In [35]:
receipts_fact_df['pointsEarned'] = receipts_fact_df['pointsEarned'].astype(float)
receipts_fact_df['totalSpent'] = receipts_fact_df['totalSpent'].astype(float)

In [36]:
receipts_fact_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1119 entries, 0 to 1118
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   bonusPointsEarned        544 non-null    float64
 1   bonusPointsEarnedReason  544 non-null    object
 2   pointsEarned             609 non-null    float64
 3   purchasedItemCount       635 non-null    float64
 4   rewardsReceiptStatus     1119 non-null   object
 5   totalSpent               684 non-null    float64
 6   userId                   1119 non-null   object
 7   _id.$oid                 1119 non-null   object
 8   createDate.$date         1119 non-null   int64
 9   dateScanned.$date        1119 non-null   int64
 10  finishedDate.$date       568 non-null    float64
 11  modifyDate.$date         1119 non-null   int64
 12  pointsAwardedDate.$date  537 non-null    float64
 13  purchaseDate.$date       671 non-null    float64
dtypes: float64(7), int64(3), object(4)
memory usage: 122.5+ KB

In [37]:
column_mapping = {
    'userId': 'user_id',
    '_id.$oid': 'receipt_id',
    'createDate.$date': 'createDate',
    'dateScanned.$date': 'dateScanned',
    'finishedDate.$date': 'finishedDate',
    'modifyDate.$date': 'modifyDate',
    'pointsAwardedDate.$date': 'pointsAwardedDate',
    'purchaseDate.$date': 'purchaseDate'
}

receipts_fact_df = receipts_fact_df.rename(columns=column_mapping)

In [38]:
receipts_fact_df.head()

,bonusPointsEarned,bonusPointsEarnedReason,pointsEarned,purchasedItemCount,rewardsReceiptStatus,totalSpent,user_id,receipt_id,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,purchaseDate
0,500.0,"Receipt number 2 completed, bonus point schedu...",500.0,5.0,FINISHED,26.0,5ff1e1eacfcf6c399c274ae6,5ff1e1eb0a720f0523000575,1609687531000,1609687531000,1.609688e+12,1609687536000,1.609688e+12,1.609632e+12
1,150.0,"Receipt number 5 completed, bonus point schedu...",150.0,2.0,FINISHED,11.0,5ff1e194b6a9d73a3a9f1052,5ff1e1bb0a720f052300056b,1609687483000,1609687483000,1.609687e+12,1609687488000,1.609687e+12,1.609601e+12
2,5.0,All-receipts receipt bonus,5.0,1.0,REJECTED,10.0,5ff1e1f1cfcf6c399c274b0b,5ff1e1f10a720f052300057a,1609687537000,1609687537000,NaN,1609687542000,NaN,1.609632e+12
3,5.0,All-receipts receipt bonus,5.0,4.0,FINISHED,28.0,5ff1e1eacfcf6c399c274ae6,5ff1e1ee0a7214ada100056f,1609687534000,1609687534000,1.609688e+12,1609687539000,1.609688e+12,1.609632e+12
4,5.0,All-receipts receipt bonus,5.0,2.0,FINISHED,1.0,5ff1e194b6a9d73a3a9f1052,5ff1e1d20a7214ada1000561,1609687506000,1609687506000,1.609688e+12,1609687511000,1.609688e+12,1.609601e+12

### Date conversion

In [ ]:
from datetime import datetime

def epoch_to_datetime(epoch_time):
    if pd.isnull(epoch_time):
        return None
    else:
        return datetime.fromtimestamp(epoch_time / 1000)

receipts_fact_df['createDate'] = receipts_fact_df['createDate'].apply(epoch_to_datetime)
receipts_fact_df['dateScanned'] = receipts_fact_df['dateScanned'].apply(epoch_to_datetime)
receipts_fact_df['finishedDate'] = receipts_fact_df['finishedDate'].apply(epoch_to_datetime)
receipts_fact_df['modifyDate'] = receipts_fact_df['modifyDate'].apply(epoch_to_datetime)
receipts_fact_df['pointsAwardedDate'] = receipts_fact_df['pointsAwardedDate'].apply(epoch_to_datetime)
receipts_fact_df['purchaseDate'] = receipts_fact_df['purchaseDate'].apply(epoch_to_datetime)

In [41]:
receipts_fact_df.head(10)

,bonusPointsEarned,bonusPointsEarnedReason,pointsEarned,purchasedItemCount,rewardsReceiptStatus,totalSpent,user_id,receipt_id,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,purchaseDate
0,500.0,"Receipt number 2 completed, bonus point schedu...",500.0,5.0,FINISHED,26.00,5ff1e1eacfcf6c399c274ae6,5ff1e1eb0a720f0523000575,2021-01-03 10:25:31,2021-01-03 10:25:31,2021-01-03 10:25:31,2021-01-03 10:25:36,2021-01-03 10:25:31,2021-01-02 19:00:00
1,150.0,"Receipt number 5 completed, bonus point schedu...",150.0,2.0,FINISHED,11.00,5ff1e194b6a9d73a3a9f1052,5ff1e1bb0a720f052300056b,2021-01-03 10:24:43,2021-01-03 10:24:43,2021-01-03 10:24:43,2021-01-03 10:24:48,2021-01-03 10:24:43,2021-01-02 10:24:43
2,5.0,All-receipts receipt bonus,5.0,1.0,REJECTED,10.00,5ff1e1f1cfcf6c399c274b0b,5ff1e1f10a720f052300057a,2021-01-03 10:25:37,2021-01-03 10:25:37,NaT,2021-01-03 10:25:42,NaT,2021-01-02 19:00:00
3,5.0,All-receipts receipt bonus,5.0,4.0,FINISHED,28.00,5ff1e1eacfcf6c399c274ae6,5ff1e1ee0a7214ada100056f,2021-01-03 10:25:34,2021-01-03 10:25:34,2021-01-03 10:25:34,2021-01-03 10:25:39,2021-01-03 10:25:34,2021-01-02 19:00:00
4,5.0,All-receipts receipt bonus,5.0,2.0,FINISHED,1.00,5ff1e194b6a9d73a3a9f1052,5ff1e1d20a7214ada1000561,2021-01-03 10:25:06,2021-01-03 10:25:06,2021-01-03 10:25:11,2021-01-03 10:25:11,2021-01-03 10:25:06,2021-01-02 10:25:06
5,750.0,"Receipt number 1 completed, bonus point schedu...",750.0,1.0,FINISHED,3.25,5ff1e1e4cfcf6c399c274ac3,5ff1e1e40a7214ada1000566,2021-01-03 10:25:24,2021-01-03 10:25:24,2021-01-03 10:25:25,2021-01-03 10:25:30,2021-01-03 10:25:25,2021-01-02 10:25:24
6,5.0,All-receipts receipt bonus,5.0,1.0,FINISHED,2.23,5ff1e194b6a9d73a3a9f1052,5ff1e1cd0a720f052300056f,2021-01-03 10:25:01,2021-01-03 10:25:01,2021-01-03 10:25:02,2021-01-03 10:25:02,2021-01-03 10:25:02,2021-01-03 10:25:01
7,500.0,"Receipt number 2 completed, bonus point schedu...",500.0,1.0,FINISHED,10.00,5ff1e194b6a9d73a3a9f1052,5ff1e1a40a720f0523000569,2021-01-03 10:24:20,2021-01-03 10:24:20,2021-01-03 10:24:21,2021-01-03 10:24:21,2021-01-03 10:24:21,2020-12-26 19:00:00
8,5.0,All-receipts receipt bonus,5.0,5.0,FINISHED,20.00,5ff1e1eacfcf6c399c274ae6,5ff1e1ed0a7214ada100056e,2021-01-03 10:25:33,2021-01-03 10:25:33,2021-01-03 10:25:34,2021-01-03 10:25:38,2021-01-03 10:25:34,2021-01-02 19:00:00
9,250.0,"Receipt number 3 completed, bonus point schedu...",250.0,3.0,FINISHED,20.00,5ff1e1eacfcf6c399c274ae6,5ff1e1eb0a7214ada100056b,2021-01-03 10:25:31,2021-01-03 10:25:31,2021-01-03 10:25:31,2021-01-03 10:25:36,2021-01-03 10:25:31,2021-01-02 19:00:00

In [42]:
receipts_fact_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1119 entries, 0 to 1118
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   bonusPointsEarned        544 non-null    float64
 1   bonusPointsEarnedReason  544 non-null    object
 2   pointsEarned             609 non-null    float64
 3   purchasedItemCount       635 non-null    float64
 4   rewardsReceiptStatus     1119 non-null   object
 5   totalSpent               684 non-null    float64
 6   user_id                  1119 non-null   object
 7   receipt_id               1119 non-null   object
 8   createDate               1119 non-null   datetime64[ns]
 9   dateScanned              1119 non-null   datetime64[ns]
 10  finishedDate             568 non-null    datetime64[ns]
 11  modifyDate               1119 non-null   datetime64[ns]
 12  pointsAwardedDate        537 non-null    datetime64[ns]
 13  purchaseDate             671 non-null    datetime64[ns]
dtypes: datetime64[ns](6), float64(4), object(4)
memory usage: 122.5+ KB

In [43]:
columns_sequence = ['receipt_id', 'user_id', 'rewardsReceiptStatus', 'bonusPointsEarned', 'bonusPointsEarnedReason', 'pointsEarned', 'purchasedItemCount', 'totalSpent', 'createDate', 'dateScanned', 'finishedDate', 'modifyDate', 'pointsAwardedDate', 'purchaseDate']
receipts_fact_df = receipts_fact_df[columns_sequence]

In [46]:
import psycopg2
from sqlalchemy import create_engine, Boolean, VARCHAR, TIMESTAMP, FLOAT

db_config = {
    'user': 'postgres',
    'password': '9901',
    'host': 'localhost',
    'port': '5433',
    'database': 'postgres'
}

conn = psycopg2.connect(**db_config)

cursor = conn.cursor()

engine = create_engine('postgresql+psycopg2://{user}:{password}@{host}:{port}/{database}'.format(**db_config))

dtype_mapping = {
    'receipt_id': VARCHAR(700),
    'user_id': VARCHAR(700),
    'rewardsReceiptStatus': VARCHAR(500),
    'bonusPointsEarned': FLOAT, 
    'bonusPointsEarnedReason': VARCHAR(2000),
    'pointsEarned': FLOAT,
    'purchasedItemCount': FLOAT,
    'totalSpent': FLOAT, 
    'createDate': TIMESTAMP,
    'dateScanned': TIMESTAMP,
    'finishedDate': TIMESTAMP,
    'modifyDate': TIMESTAMP,
    'pointsAwardedDate': TIMESTAMP,
    'purchaseDate': TIMESTAMP
}

receipts_fact_df.to_sql('receipts_fact', engine, if_exists='append', index=False, dtype=dtype_mapping)

conn.commit()
conn.close()

In [49]:
rewards_receipt_items_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6941 entries, 0 to 6940
Data columns (total 36 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   barcode                             3090 non-null   object
 1   description                         6560 non-null   object
 2   finalPrice                          6767 non-null   object
 3   itemPrice                           6767 non-null   object
 4   needsFetchReview                    813 non-null    object
 5   partnerItemId                       6941 non-null   object
 6   preventTargetGapPoints              358 non-null    object
 7   quantityPurchased                   6767 non-null   float64
 8   userFlaggedBarcode                  337 non-null    object
 9   userFlaggedNewItem                  323 non-null    object
 10  userFlaggedPrice                    299 non-null    object
 11  userFlaggedQuantity                 299 non-null    float64
 12  receipt_id                          6941 non-null   object
 13  needsFetchReviewReason              219 non-null    object
 14  pointsNotAwardedReason              340 non-null    object
 15  pointsPayerId                       1267 non-null   object
 16  rewardsGroup                        1731 non-null   object
 17  rewardsProductPartnerId             2269 non-null   object
 18  userFlaggedDescription              205 non-null    object
 19  originalMetaBriteBarcode            71 non-null     object
 20  originalMetaBriteDescription        10 non-null     object
 21  brandCode                           2600 non-null   object
 22  competitorRewardsGroup              275 non-null    object
 23  discountedItemPrice                 5769 non-null   object
 24  originalReceiptItemText             5760 non-null   object
 25  itemNumber                          153 non-null    object
 26  originalMetaBriteQuantityPurchased  15 non-null     float64
 27  pointsEarned                        927 non-null    object
 28  targetPrice                         378 non-null    object
 29  competitiveProduct                  645 non-null    object
 30  originalFinalPrice                  9 non-null      object
 31  originalMetaBriteItemPrice          9 non-null      object
 32  deleted                             9 non-null      object
 33  priceAfterCoupon                    956 non-null    object
 34  metabriteCampaignId                 863 non-null    object
 35  integration_id                      6941 non-null   object
dtypes: float64(3), object(33)
memory usage: 1.9+ MB

In [51]:
rewards_receipt_items_df.head(10)

,barcode,description,finalPrice,itemPrice,needsFetchReview,partnerItemId,preventTargetGapPoints,quantityPurchased,userFlaggedBarcode,userFlaggedNewItem,userFlaggedPrice,userFlaggedQuantity,receipt_id,needsFetchReviewReason,pointsNotAwardedReason,pointsPayerId,rewardsGroup,rewardsProductPartnerId,userFlaggedDescription,originalMetaBriteBarcode,originalMetaBriteDescription,brandCode,competitorRewardsGroup,discountedItemPrice,originalReceiptItemText,itemNumber,originalMetaBriteQuantityPurchased,pointsEarned,targetPrice,competitiveProduct,originalFinalPrice,originalMetaBriteItemPrice,deleted,priceAfterCoupon,metabriteCampaignId,integration_id
0,4011,ITEM NOT FOUND,26.00,26.00,False,1,True,5.0,4011,True,26.00,5.0,5ff1e1eb0a720f0523000575,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1~5ff1e1eb0a720f0523000575
1,4011,ITEM NOT FOUND,1,1,NaN,1,NaN,1.0,NaN,NaN,NaN,NaN,5ff1e1bb0a720f052300056b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1~5ff1e1bb0a720f052300056b
2,028400642255,DORITOS TORTILLA CHIP SPICY SWEET CHILI REDUCE...,10.00,10.00,True,2,True,1.0,028400642255,True,10.00,1.0,5ff1e1bb0a720f052300056b,USER_FLAGGED,Action not allowed for user and CPG,5332f5fbe4b03c9a25efd0ba,DORITOS SPICY SWEET CHILI SINGLE SERVE,5332f5fbe4b03c9a25efd0ba,DORITOS TORTILLA CHIP SPICY SWEET CHILI REDUCE...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2~5ff1e1bb0a720f052300056b
3,NaN,NaN,NaN,NaN,False,1,True,NaN,4011,True,26.00,3.0,5ff1e1f10a720f052300057a,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1~5ff1e1f10a720f052300057a
4,4011,ITEM NOT FOUND,28.00,28.00,False,1,True,4.0,4011,True,28.00,4.0,5ff1e1ee0a7214ada100056f,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1~5ff1e1ee0a7214ada100056f
5,4011,ITEM NOT FOUND,1,1,NaN,1,NaN,1.0,NaN,NaN,NaN,NaN,5ff1e1d20a7214ada1000561,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1~5ff1e1d20a7214ada1000561
6,1234,NaN,2.56,2.56,True,2,True,3.0,1234,True,2.56,3.0,5ff1e1d20a7214ada1000561,USER_FLAGGED,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2~5ff1e1d20a7214ada1000561
7,4011,ITEM NOT FOUND,3.25,3.25,False,1,True,1.0,4011,NaN,NaN,NaN,5ff1e1e40a7214ada1000566,NaN,Action not allowed for user and CPG,5332f5fbe4b03c9a25efd0ba,DORITOS SPICY SWEET CHILI SINGLE SERVE,5332f5fbe4b03c9a25efd0ba,NaN,028400642255,DORITOS TORTILLA CHIP SPICY SWEET CHILI REDUCE...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1~5ff1e1e40a7214ada1000566
8,NaN,MSSN TORTLLA,2.23,2.23,NaN,1009,NaN,1.0,NaN,NaN,NaN,NaN,5ff1e1cd0a720f052300056f,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MISSION,TACO BELL TACO SHELLS,2.23,MSSN TORTLLA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1009~5ff1e1cd0a720f052300056f
9,046000832517,"Old El Paso Mild Chopped Green Chiles, 4.5 Oz",10.00,10.00,NaN,0,NaN,1.0,NaN,NaN,NaN,NaN,5ff1e1a40a720f0523000569,NaN,Action not allowed for user and CPG,5332f5f3e4b03c9a25efd0ae,OLD EL PASO BEANS & PEPPERS,5332f5f3e4b03c9a25efd0ae,NaN,NaN,NaN,BRAND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0~5ff1e1a40a720f0523000569

### Data conversion, Column sequencing and Load to DB

In [53]:
rewards_receipt_items_df['finalPrice'] = rewards_receipt_items_df['finalPrice'].astype(float)
rewards_receipt_items_df['itemPrice'] = rewards_receipt_items_df['itemPrice'].astype(float)
rewards_receipt_items_df['userFlaggedPrice'] = rewards_receipt_items_df['userFlaggedPrice'].astype(float)
rewards_receipt_items_df['userFlaggedQuantity'] = rewards_receipt_items_df['userFlaggedQuantity'].astype(float)
rewards_receipt_items_df['discountedItemPrice'] = rewards_receipt_items_df['discountedItemPrice'].astype(float)
rewards_receipt_items_df['pointsEarned'] = rewards_receipt_items_df['pointsEarned'].astype(float)
rewards_receipt_items_df['originalFinalPrice'] = rewards_receipt_items_df['originalFinalPrice'].astype(float)
rewards_receipt_items_df['originalMetaBriteItemPrice'] = rewards_receipt_items_df['originalMetaBriteItemPrice'].astype(float)
rewards_receipt_items_df['priceAfterCoupon'] = rewards_receipt_items_df['priceAfterCoupon'].astype(float)

In [54]:
rewards_receipt_items_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6941 entries, 0 to 6940
Data columns (total 36 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   barcode                             3090 non-null   object
 1   description                         6560 non-null   object
 2   finalPrice                          6767 non-null   float64
 3   itemPrice                           6767 non-null   float64
 4   needsFetchReview                    813 non-null    object
 5   partnerItemId                       6941 non-null   object
 6   preventTargetGapPoints              358 non-null    object
 7   quantityPurchased                   6767 non-null   float64
 8   userFlaggedBarcode                  337 non-null    object
 9   userFlaggedNewItem                  323 non-null    object
 10  userFlaggedPrice                    299 non-null    float64
 11  userFlaggedQuantity                 299 non-null    float64
 12  receipt_id                          6941 non-null   object
 13  needsFetchReviewReason              219 non-null    object
 14  pointsNotAwardedReason              340 non-null    object
 15  pointsPayerId                       1267 non-null   object
 16  rewardsGroup                        1731 non-null   object
 17  rewardsProductPartnerId             2269 non-null   object
 18  userFlaggedDescription              205 non-null    object
 19  originalMetaBriteBarcode            71 non-null     object
 20  originalMetaBriteDescription        10 non-null     object
 21  brandCode                           2600 non-null   object
 22  competitorRewardsGroup              275 non-null    object
 23  discountedItemPrice                 5769 non-null   float64
 24  originalReceiptItemText             5760 non-null   object
 25  itemNumber                          153 non-null    object
 26  originalMetaBriteQuantityPurchased  15 non-null     float64
 27  pointsEarned                        927 non-null    float64
 28  targetPrice                         378 non-null    object
 29  competitiveProduct                  645 non-null    object
 30  originalFinalPrice                  9 non-null      float64
 31  originalMetaBriteItemPrice          9 non-null      float64
 32  deleted                             9 non-null      object
 33  priceAfterCoupon                    956 non-null    float64
 34  metabriteCampaignId                 863 non-null    object
 35  integration_id                      6941 non-null   object
dtypes: float64(11), object(25)
memory usage: 1.9+ MB

In [56]:
columns_sequence = [
    'integration_id', 'receipt_id', 'partnerItemId', 'pointsPayerId',
    'barcode', 'description', 'finalPrice', 
    'itemPrice', 'needsFetchReview', 'preventTargetGapPoints', 
    'quantityPurchased', 'userFlaggedBarcode', 'userFlaggedNewItem', 
    'userFlaggedPrice', 'userFlaggedQuantity', 'needsFetchReviewReason', 
    'pointsNotAwardedReason','rewardsGroup', 
    'rewardsProductPartnerId', 'userFlaggedDescription', 'originalMetaBriteBarcode', 
    'originalMetaBriteDescription', 'brandCode', 'competitorRewardsGroup', 
    'discountedItemPrice', 'originalReceiptItemText', 'itemNumber', 
    'originalMetaBriteQuantityPurchased', 'pointsEarned', 'targetPrice', 
    'competitiveProduct', 'originalFinalPrice', 'originalMetaBriteItemPrice', 
    'deleted', 'priceAfterCoupon', 'metabriteCampaignId'
]
rewards_receipt_items_df = rewards_receipt_items_df[columns_sequence]

In [57]:
import psycopg2
from sqlalchemy import create_engine, BOOLEAN, VARCHAR, TIMESTAMP, FLOAT, INTEGER

db_config = {
    'user': 'postgres',
    'password': '9901',
    'host': 'localhost',
    'port': '5433',
    'database': 'postgres'
}

conn = psycopg2.connect(**db_config)

cursor = conn.cursor()

engine = create_engine('postgresql+psycopg2://{user}:{password}@{host}:{port}/{database}'.format(**db_config))

dtype_mapping = {
    'integration_id': VARCHAR(500),
    'receipt_id': VARCHAR(500),
    'partnerItemId': INTEGER,
    'pointsPayerId': VARCHAR(500),
    'barcode': VARCHAR(30),
    'description': VARCHAR(2000),
    'finalPrice': FLOAT,
    'itemPrice': FLOAT,
    'needsFetchReview': BOOLEAN,
    'preventTargetGapPoints': BOOLEAN,
    'quantityPurchased': FLOAT,
    'userFlaggedBarcode': VARCHAR(30),
    'userFlaggedNewItem': BOOLEAN,
    'userFlaggedPrice': FLOAT,
    'userFlaggedQuantity': FLOAT,
    'needsFetchReviewReason': VARCHAR(200),
    'pointsNotAwardedReason': VARCHAR(2000),
    'rewardsGroup': VARCHAR(500),
    'rewardsProductPartnerId': VARCHAR(500),
    'userFlaggedDescription': VARCHAR(500),
    'originalMetaBriteBarcode': VARCHAR(30),
    'originalMetaBriteDescription': VARCHAR(1000),
    'brandCode': VARCHAR(350),
    'competitorRewardsGroup': VARCHAR(500),
    'discountedItemPrice': FLOAT,
    'originalReceiptItemText': VARCHAR(500),
    'itemNumber': VARCHAR(30),
    'originalMetaBriteQuantityPurchased': INTEGER,
    'pointsEarned': FLOAT,
    'targetPrice': FLOAT,
    'competitiveProduct': BOOLEAN,
    'originalFinalPrice': FLOAT,
    'originalMetaBriteItemPrice': FLOAT,
    'deleted': BOOLEAN,
    'priceAfterCoupon': FLOAT,
    'metabriteCampaignId': VARCHAR(1000)
}

rewards_receipt_items_df.to_sql('receipts_line_item', engine, if_exists='append', index=False, dtype=dtype_mapping)

conn.commit()
conn.close()